<!-- Material form login -->

<div class="text-center"> <a href="/" class="btn btn-info">HOME</a></div>
<div class="card">

  <h5 class="card-header info-color white-text text-center py-4">
    <strong>ADD NEW</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <form action="/api/register" method="post"  autocomplete="off" >

      <!-- UserName -->
      <div class="md-form">
        <input type="text" name="name" placeholder="enter name"  id="materialLoginFormUsername" class="form-control" required>
       
      </div>

      <!-- Email -->
      <div class="md-form">
        <input type="email" name="email" placeholder="enter email"  id="materialLoginFormEmail" class="form-control" required>
        
      </div>

      <div class="md-form">
        <input type="text" name="number" placeholder="enter number" id="materialLoginFormNumber" class="form-control" required>
        
      </div>


      

      <!-- Sign in button -->
      <button class="btn btn-outline-warning btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Enter</button>



      
      
    </form>
    <!-- Form -->

  </div>

</div>
<!-- Material form login -->